:root{
--padding-horizontal:100px;
--primary-color: #4C243B;
--secondary-color: #AC7B84;
}

body,h1,h2,h3,h4,h5,h6,p {
margin:0;
font-family: "Poppins", sans-serif;
}

nav{
display: flex;
justify-content: space-between;
align-item: center;
background-color: #4C243B;
padding-left: var(--padding-horizontal);
padding-right: var(--padding-horizontal);
padding-top:10px;
padding-bottom:10px;
}
nav> h1{
color: white;
}
nav>div>a{
color: white;
tex-declaration: none;
margin-right: 4px;
}
#homeSection{
padding-left: var(--padding-horizontal);
padding-right: var(--padding-horizontal);
display: flex;
align-item: center;
height: 100%;
background-color: white;
gap: 20px;
}

#homeSection > img{
width: 350px;
height: 350px;
border-radius: 50%;
border-solid: brown;
object-fit: cover;
aspect-ratio: 1/1;
}
#homeSection >div>h1{
color: var(--primary-color);
font-size:64px;
}
#homeSection > div > p {
color: var(--secondary-color);
font-size:16px;
font-weight:200;
padding-top:16px;
padding-bottom:16px;
}
#homeSection > div >button{
all: unset;
background-color: var(--primary-color);
color:white;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 24px;
padding-right: 24px;
font-size: 14px;
border-radius: 100px;
transition: 2s;
}
#projectSection>h1{
text-align: center;
margin-bottom:10px;

}
#projectSection>p{
text-align: center;
max-width: 650px;
margin: 0 auto 40px;

}
#projectTab{
display:flex;
gap:50px;
justify-content: center;
}

#projectSection>#ProjectTab>.project>img{
width: 30px;
height: 20px;
border-radius:10px;
object-fit:cover;

}

.project{
border-radius: 20px;

background: bisque;
border-style: grove;
margin-top:auto;
margin-bottom:auto;


}
.project>button{
all: unset;
ba
ckground-color: var(--primary-color);
color:white;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 24px;
padding-right: 24px;
font-size: 14px;
border-radius: 100px;
transition: 2s;
}
.project>p{
tex-align:center;
max-width:800px;
padding-bottom:10px;
padding-top:20px;
padding-left:10px;
padding-right:10px;
}
.project>h2{
font-size:30px;
font-weight:bold;
margin:10px 10px;
}